html {
  height: 100%;

  font-family:  Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

body {
  height: 100%;

  overflow-x: hidden;
  position: relative;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hidden-scroll {
  overflow: moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/* web kit for safari browsers that removes buttons + and - from input number */
.input-number input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}



